name: "knowledge-graph-platform"

services:
  neo4j:
    image: neo4j:latest
    container_name: neo4j_database
    ports:
      - "7474:7474" # HTTP port
      - "7687:7687" # Bolt port
    environment:
      - NEO4J_AUTH=neo4j/password
    volumes:
      - neo4j_data:/data
      - neo4j_logs:/logs
      - neo4j_import:/var/lib/neo4j/import
      - neo4j_plugins:/plugins

volumes:
  neo4j_data:
  neo4j_logs:
  neo4j_import:
  neo4j_plugins:
